# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# VSCode
.vscode/

# Env
.env
.venv/
env/
venv/

# Cache
.cache/
*.whl

# Transcriptions et downloads 
data/downloads/
data/transcriptions/
data/timestamp


